# ignore everything by default
/*
./gtfs_static/stop_times.txt
# allow these top-level items
!cache
!dockerfile
!.gitignore
!requirements.txt
!runtime.txt
!.streamlit/
!app/
!norm_codes/
!gtfs_static/
!data_hist/
!nightly_etl.py
!join_daily.py
!join_minute_with_weather.py
!notebooks
!/gtfs_static/census/
!data_hist/*/norms/
!.gitattributes
# optional: macOS & editor artifacts
.DS_Store
*.code-workspace
.vscode/
notebooks/00_data_overview.ipnyb
